
fugue-icons-3.5.6/**
*.gif
*.png
Project1.identcache
readme.html
readme.txt
Project1.identcache
fugue-icons-3.5.6/CHANGELOG.txt
fugue-icons-3.5.6/FILENAME.txt
__history/**
Debug/**
operFormPersonsQuery.txt
1/**
ARM.dproj.local
given_sert_table.sql
ModelSupport_ARM/**
